{% extends definition.templates.layout %}
{% if definition.templates.formTheme is not null %}
  {% form_theme form definition.templates.formTheme %}
{% endif %}

{% block bs_crudify_content %}
  <div class="row crudify-edit">
    <div class="col-md-12">
      {% block bs_crudify_title %}
        <h3>
          {% block bs_crudify_title_content %}
            {{ 'Edit'|trans({}, definition.translationDomain) }}
            <small>{{ definition.entityTitle|trans({}, definition.translationDomain) }}</small>
          {% endblock %}
        </h3>
      {% endblock %}
      {% block bs_crudify_form %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {% block bs_crudify_form_actions %}
          <hr>
          <div>
            <button name="action" value="index" type="submit" class="btn btn-primary click-disable">
              <span class="fa fa-save"></span>
              {{ 'Save'|trans({}, definition.translationDomain) }}
            </button>
            <button name="action" value="edit" type="submit" class="btn btn-default click-disable">
              <span class="fa fa-save"></span>
              {{ 'Save and Continue Editing'|trans({}, definition.translationDomain) }}
            </button>
            <a href="{{ crudify_action('index', definition) }}" class="btn pull-right">
              <span class="fa fa-times"></span>
              {{ 'Cancel'|trans({}, definition.translationDomain) }}
            </a>
          </div>
        {% endblock %}
        {{ form_end(form) }}
      {% endblock %}

      {% if is_granted('CRUDIFY_DELETE', definition) %}
        {% block bs_crudify_delete %}
          <hr>
          {% set delete_form = crudify_delete_form(definition, object) %}
          {{ form_start(delete_form) }}
          {{ form_widget(delete_form) }}
           <input type="submit" value="{{ "Delete"|trans({}, definition.translationDomain) }}" class="btn btn-danger">
          {{ form_end(delete_form) }}
        {% endblock %}
      {% endif %}
    </div>
  </div>
{% endblock %}
