{% extends "BsCrudifyBundle:Admin:layout.html.twig" %}
{% form_theme form 'BsBootstrapifyBundle::form.html.twig' %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h3>{{ 'Edit %s'|trans|format(entity|trans) }}</h3>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {% set cancel_action = path('admin_list', {'entity': entity }) %}
    {{ block('form_actions') }}
    {{ form_end(form) }}
    <hr>
    {% if 'delete' not in disable %}
      <form action="{{ path('admin_delete', {'entity': entity, 'id': instance.id}) }}" method="post">
        <input type="hidden" name="_method" value="DELETE">
        {{ form_widget(delete_form) }}
        <div class="controls">
          <button type="submit" class="btn btn-link text-error pull-right">
            <span class="fa fa-trash-o"></span>
            {{ 'Delete %s'|trans|format(entity|trans) }}
          </button>
        </div>
      </form>
    {% endif %}
  </div>
</div>
{% endblock %}
