{% extends layout %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets filter='?yui_css'
    '@BsCrudifyBundle/Resources/less/admin.less'
  %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
  {% endstylesheets %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {% javascripts filter='?yui_js'
    '@BsCrudifyBundle/Resources/js/admin.js'
  %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{% block title %}Beheer | {{ parent() }}{% endblock %}
{% block page_title %}<span class="fa fa-pencil"></span> Beheer{% endblock %}

{% block flash %}
  {% for type in ['notice', 'error', 'success'] %}
    {% for message in app.session.flashbag.get(type) %}
      <div class="alert alert-{{ type }}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <span class="fa fa-bell-o"></span>
        {{ message|trans }}
      </div>
    {% endfor %}
  {% endfor %}
{% endblock %}

{% block form_actions %}
<hr>
<div>
  <button name="action" value="index" type="submit" class="btn btn-primary click-disable">
    <span class="fa fa-save"></span>
    {{ 'Save'|trans }}
  </button>
  <button name="action" value="edit" type="submit" class="btn btn-default click-disable">
    <span class="fa fa-save"></span>
    {{ 'Save and Continue Editing'|trans }}
  </button>
  <a href="{{ cancel_action }}" class="btn pull-right">
    <span class="fa fa-times"></span>
    {{ 'Cancel'|trans }}
  </a>
</div>
{% endblock %}

{% block page %}
  <div class="row">
      <a href="{{ path('admin_add', {'entity': entity}) }}" class="btn btn-primary pull-right add-btn click-disable">
        <span class="fa fa-plus"></span>
       {{ 'Add %s'|trans|format(entity|capitalize) }}
      </a>
  <div class="row">
    {{ block('flash') }}
  </div>
  <div class="row">
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
        {% for name, fields in entities %}
        <li class="{{ entity == name ? 'active' }}">
          <a href="{{ path('admin_list', {'entity': name}) }}">{{ name|capitalize }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-10">
      {% block content %}{% endblock %}
    </div>
  </div>
{% endblock %}
