{% extends definition.templates.layout %}

{% block bs_crudify_content %}
  {% block bs_crudify_title %}
    <h3>
      {% block bs_crudify_title_content %}
        {{ "Overview"|trans }} <small>{{ definition.entityTitle|trans }}</small>
      {% endblock %}
    </h3>
  {% endblock %}

  {% if is_granted('CRUDIFY_CREATE', definition) %}
    {% block bs_crudify_create_button %}
      <a href="{{ crudify_action('new', definition) }}" class="btn btn-success pull-right">
        <i class="fa fa-plus"></i> {{ "Add"|trans }}
      </a>
    {% endblock %}
  {% endif %}

  {% block bs_crudify_grid %}
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          {% block bs_crudify_thead_before %}{% endblock %}
          {% block bs_crudify_thead_columns %}
            {% for column in definition.index %}
              <th class="{{ column.type }}">
                {{ knp_pagination_sortable(objects, column.title|trans, column.field) }}
              </th>
            {% endfor %}
          {% endblock %}
          {% block bs_crudify_thead_before_actions %}{% endblock %}
          {% block bs_crudify_thead_actions %}
            <th></th>
          {% endblock %}
          {% block bs_crudify_thead_after %}{% endblock %}
        </tr>
      </thead>
      <tbody>
        {% block bs_crudify_body %}
          {% for object in objects %}
            {% block bs_crudify_body_row %}
              <tr>
                {% block bs_crudify_body_before %}{% endblock %}
                {% block bs_crudify_body_columns %}
                  {% for column in definition.index %}
                    <td class="{{ column.type }}">{{ crudify_value(column, object) }}</td>
                  {% endfor %}
                {% endblock %}
                {% block bs_crudify_body_before_actions %}{% endblock %}
                {% block bs_crudify_body_actions %}
                  <td class="actions">
                    {% if is_granted('CRUDIFY_UPDATE', definition) %}
                      {% block bs_crudify_action_edit %}
                        <a href="{{ crudify_action('edit', definition, object) }}"
                           class="btn btn-default btn-sm click-disable">
                          <span class="fa fa-pencil"></span>
                          {{ 'Edit'|trans }}
                        </a>
                      {% endblock %}
                    {% endif %}
                  </td>
                {% endblock %}
                {% block bs_crudify_body_after %}{% endblock %}
              </tr>
            {% endblock %}
          {% endfor %}
        {% endblock %}
      </tbody>
    </table>
  {% endblock %}

  {% block bs_crudify_pagination %}
    {{ knp_pagination_render(objects) }}
  {% endblock %}
{% endblock %}
